body {
    font-family: 'lato', sans-serif;
    background-image: url("./background1.jpg");
    background-size: auto;
    font-size: xx-large;
}

.grid-container {





}

.icon {
    margin-left: auto;
    margin-right: auto;
    height: 1%;
    width: 1%;
    size: 50px;
    color: #ffffff;
    font-size: xx-large;
    background-color: #333;
    border-radius: 10%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.header {

    text-align: center;
    justify-content: center;
    overflow-wrap: break-word;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    height: 20%;
    width: 20%;
    padding: 10px;
    overflow-wrap: break-word;
}

p {
    color: whitesmoke;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    border-radius: 20%;
    padding: 10px;
    overflow-wrap: break-word;
}

img {
    width: 60%;
    border: 0px solid whitesmoke;
    border-radius: 5%;
}

a {
    color: whitesmoke;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange);
    background-clip: text;
    -webkit-background-clip: text;
    margin: auto;

}

footer {
    margin-bottom: 50px;
    font-size: xx-small;


}

a:hover {
    color: transparent;
    transition: 500ms ease;
}





.elementiGrid {

    display: grid;

}