body {
    background-color: lightblue;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-style: italica;
    
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-style: italica;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-style: italica;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-style: italica;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    font-style: italica;
}

